<span class="sidebar-header">Authors</span>
<ul>
<li class="authors"><a href ="/author/andy/">Andy Likuski</a></li>
<li class="authors"><a href ="/author/brad/">Brad Barnett</a></li>
<li class="authors"><a href ="/author/nick/">Nicholas Wilson</a></li>
<li class="authors"><a href ="/author/erika/">Erika Lew</a></li>
<li class="authors"><a href ="/author/evan/">Evan Babb</a></li>
<li class="authors"><a href ="/author/joe/">Joe DiStefano</a></li>
<li class="authors"><a href ="/author/peter/">Peter Calthorpe</a></li>
<li class="authors"><a href ="/author/caitlin/">Caitlin Jensen</a></li>
</ul>

<span class="sidebar-header">Links</span>
<ul>
<li class="links"><a href ="#">NRDC Urban Solutions</a></li>
<li class="links"><a href ="#">Open Planning Tools Group</a></li>

</ul>
        <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>